*.mp4 filter=lfs diff=lfs merge=lfs -text
/brands/University_of_Aleppo_Logo.jpg filter=lfs diff=lfs merge=lfs -text
/food/aleppo_pepper.jpg filter=lfs diff=lfs merge=lfs -text
/food/foul_ingredients.jpg filter=lfs diff=lfs merge=lfs -text
/food/vicia_faba.jpg filter=lfs diff=lfs merge=lfs -text
/music/costal_dabkeh.mp3 filter=lfs diff=lfs merge=lfs -text
/numismatics/five_a.jpg filter=lfs diff=lfs merge=lfs -text
/numismatics/five_b.jpg filter=lfs diff=lfs merge=lfs -text
/numismatics/two_hundred_a.jpg filter=lfs diff=lfs merge=lfs -text
/numismatics/two_hundred_b.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1955_Muslimya.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1957_Walid.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1964_AlSabeel.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1977_Couple.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1990s_Aleppo_Heinz_Renate_Visit_0022_a.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1990s_Aleppo_Heinz_Renate_Visit_0037_a.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1990s_Aleppo_Heinz_Renate_Visit_0038_a.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1990s_Aleppo_Heinz_Renate_Visit_0054_a.jpg filter=lfs diff=lfs merge=lfs -text
/photos/1991_PublicPark.jpg filter=lfs diff=lfs merge=lfs -text
/photos/2008_Citadel.jpg filter=lfs diff=lfs merge=lfs -text
/photos/2021_Minecraft_City.png filter=lfs diff=lfs merge=lfs -text
/photos/Antakya.jpg filter=lfs diff=lfs merge=lfs -text
